body {
  touch-action: none;
  margin: 0;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

#root {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

#root canvas {
  width: 100%;
  flex-grow: 1;
  z-index: 0;
}

button {
  position: absolute;
  z-index: 100;
  background: black;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  bottom: 1rem;
  left: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  transform: translate(-50%, 0);
}